{% extends "base.html" %}
{% block content %}
    <div class="text-main text-center">
        <h2>{{ page_title }}</h2>
        <p>Clarks is a family run 5 star restaurant, setup in 2022</p>
        {% for review in reviews %}
            <div class="reviews row featurette">
                <div class="col-md-7">
                    <h2>{{ review.name }}</h2>
                    <p>from {{ review.location }}</p>
                </div>
                <div class="col-md-5">
                    <h4>Review</h4>
                    <p>{{ review.stars }}</p>
                    <br>
                    <p>
                        {{ review.review }}
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}